* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
  height: 150px;
  display: flex;
  flex-direction: column;
}
h1 {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: tomato;
  text-shadow: 1px 2px 2px black;
}

.shortcuts {
  /* position: absolute; */
  /* left: 75%; */
  /* top: 390%; */
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-top: 10px;
  border: 2px solid black;
  font-family: inherit;
  font-size: 30px;
  padding: 20px 25px;
  cursor: pointer;
  background-color: #eee;
  text-align: center;
  border-radius: 30px;
  transition: all 0.15s ease-out;
}

.btn:hover {
  border-color: white;
  color: white;
  background-image: linear-gradient(
    to right,
    #618341,
    #739d42,
    #87b841,
    #9dd33e,
    #b5ee36
  );
}

.number-box {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 180px;
  padding: 25px;
  background: #eee;
  color: #333;
  font-size: 60px;
  text-align: center;
  transition: all 0.2s ease-in;
  transform: translate(-50%, 50%);
  border-radius: 15px;
  border: 2px solid blueviolet;
}

.number-box:hover {
  color: blueviolet;
}

main {
  margin-top: 50px;
  height: 480px;
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.right {
  width: 440px;
  font-size: 20px;
  text-align: center;
  color: whitesmoke;
}

.left {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess {
  background: white;
  border: 5px solid #eee;
  font-family: inherit;
  color: black;
  font-size: 40px;
  text-align: center;
  width: 300px;
  display: block;
  margin-bottom: 20px;
  padding: 50px;
}
.msg {
  margin-bottom: 50px;
  font-size: 35px;
}
.score {
  margin-bottom: 40px;
}
.check-none {
  display: none;
}
.align-center {
  text-align: center;
  flex-direction: column-reverse;
  margin-top: 60px;
}
.aplace {
  margin-bottom: 30px;
}
.finito {
  margin-top: 50px;
}
.top-score-label {
  font-size: 30px;
}